@charset "utf-8";
/* 
h1,
h3
• Align text center
*/
h1,
h3 {
    text-align: center;
}
/* 
.careerGrid
• Create a grid layout
• Create 3 columns and 5 rows
• Make the gap between columns to be 50px
• Justify Content center to make the grid centered
*/
.careerGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 50px;
    justify-content: center;
}
/* 
.careerHead
• Make the element span 3 grid spaces
*/
.careerHead {
    grid-column-start: 1;
    grid-column-end: 4;
}

/* 
.careerText1,
.careerText3
• Make the element span 2 grid spaces */

.careerText1,
.careerText3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* 
.careerText2,
.careerText4
• Make the element span 2 grid spaces */

.careerText2,
.careerText4 {
    grid-column-start: 2;
    grid-column-end: 4;
}
/* 
.careerImg1 img,
.careerImg2 img,
.careerImg3 img,
.careerImg4 img 
• Make sure the height of profile is not exceeded 150px
• Make the radius of the boder to be 20px
*/
.careerImg1 img,
.careerImg2 img,
.careerImg3 img,
.careerImg4 img {
    max-height: 150px;
    border-radius: 20px;

}