@charset "utf-8";
/* 
h1,
h3,
h4
• Align text center
*/
h1,
h3,
h4 {
    text-align: center;
}
/* .expGrid1
• Create a grid layout
• Create 3 columns and 3 rows
• Make the gap between columns to be 30px
• Justify Content center to make the grid centered
*/
.expGrid1 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 30px;
    justify-content: center;

}
/* 
.expGrid2
• Create a grid layout
• Create 4 columns and 3 rows
• Make the gap between columns to be 30px
• Make the gap between rows to be 0px
• Justify Content center to make the grid centered
*/
.expGrid2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 30px;
    row-gap: 0px;
    justify-content: center;
}

/* 
.expGrid3
• Create a grid layout
• Create 3 columns and 3 rows
• Make the gap between columns to be 30px
• Justify Content center to make the grid centered
*/
.expGrid3 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 30px;
    justify-content: center;
}

/* 
.curHead,
.courseHead
• Make the element span 4 grid spaces
*/

.curHead,
.courseHead {
    grid-column-start: 1;
    grid-column-end: 5;
}
/* 
.otherCourseHead
• Make the element span 3 grid spaces
*/
.otherCourseHead {
    grid-column-start: 1;
    grid-column-end: 4;
}

/* 
.expImg1 img,
.expImg2 img,
.expImg3 img,
.otherCourseImg1 img,
.otherCourseImg2 img,
.otherCourseImg3 img
• Make sure the height of profile is not exceeded 150px
• Make the radius of the boder to be 20px
*/
.expImg1 img,
.expImg2 img,
.expImg3 img,
.otherCourseImg1 img,
.otherCourseImg2 img,
.otherCourseImg3 img {
    max-height: 150px;
    border-radius: 20px;
}

/* 
.courseImg1 img,
.favCourseImg1 img,
.favCourseImg2 img,
.favCourseImg3 img
• Make sure the height of profile is not exceeded 90px
• Make the radius of the boder to be 20px
*/

.courseImg1 img,
.favCourseImg1 img,
.favCourseImg2 img,
.favCourseImg3 img {
    max-height: 90px;
    border-radius: 20px;
}

/* 
.expText
• Make the element span 3 grid spaces
*/

.expText {
    grid-column-start: 1;
    grid-column-end: 4;
}

/* 
.courseText
• Make the element span 2 grid spaces in column and rows
*/

.courseText {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2 / 4;
}