@charset "utf-8";
/* Make word color #8a663f by default
   Makes font Arial if Website does not support than it will do the following Helvetica, sans-serif */
* {
  color: #8a663f;
  font-family: Arial, Helvetica, sans-serif;

}
/* Make header inlilne-block
   witdth to be 100%
   background-position to be center
   Make sure height of header does not exceed 110px
   Make sure height of header does not less than 60px
   padding top and bottom to be 0px
   margin to be 0px
   background color to be #ead6bb */

header {
  display: inline-block;
  width: 100%;
  background-position: center;
  max-height: 110px;
  min-height: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
  background-color: #ead6bb;
}

/* nav
• Make nav bar float to the right and display flex to arrange the menu buttons 
• Give margin-right to give whitespace
• Make all nav bar elements center
*/
nav {
  display: flex;
  float: right;
  margin-right: 60px;
  justify-content: center;

}

/* Menu Bar 
nav li
• Make it a block display
• Make li elements float left 
• Padding 10px for all li elements in nav */

nav li {
  display: block;
  float: left;
  padding: 10px;

}

/* nav a:active & nav a:link & nav a:visited & nav a:focus
• When a is active, link or visited or focused, they will have the same style
• Color white with no underline
• A display block with padding of 10px
• Font size of 16px
• Border radius of 25px and 2.25px white solid */

nav a:active,
nav a:link,
nav a:visited,
nav a:focus {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 16px;
  padding: 10px;
  border: 3px white solid;
  border-radius: 25px;
}
/* 
nav a:hover & nav a:focus 
• Border radius of 25px
• Remove outline
• Change Background color to white
• A display block with padding of 10px
• Font size of 16px
• Border radius of 25px and 3px #8a663f solid */
nav a:hover,
nav a:focus {
  border-radius: 25px;
  padding: 10px;
  outline: none;
  display: block;
  font-size: 16px;
  border: 3px #8a663f solid;
  color: #8a663f;
  background-color: white;
}
/* Make the background color of body to be #fff9ee
   Make the width and height of body to be 100%
   Set margin-top to be 100px 
   Remove margin- right,left and bottom */
body {
  background-color: #fff9ee;
  width: 100%;
  height: 100%;
  margin: 100px 0px 0px 0px;
}
/* Footer Styles
footer 
• Set padding-top 5px
• Set paddin-bottom 5px 
• Set position relative
• Set width of footer to be 100%
• Set font size 30px
• Set background-position to be center
• Set background-color to be #ead6bb; */
footer {  
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  width: 100%;
  color: #8a663f;
  font-size: 30px;
  background-position: center;
  background-color: #ead6bb;

}

/* 
• Set font size to 14px
• Make text align center
• Remove all Margin
 */

footer h1 {
  font-size: 14px;
  text-align: center;
  margin: 0;
}

/* 
• Set font size to 13px
• Make text align center
• Remove all Margin
 */

footer p {
  font-size: 13px;
  text-align: center;
  margin: 0;
}


/* 
Make header always show on the top of the webpage
• Make position fixed to the top and left of the website
• Stretch float to 100% and set max-height to 100px
• z-index make Header order in front of all elements of the site
 */
.float {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100px;
  z-index: 9999;
}

/* 
.logo img
• Make sure height of image logo does not exceeds 75px
• Make the border round with radius 50% */

.logo img {
  max-height: 75px;
  border-radius: 50%;
}

/* 
.logo
• Float left
• margin-left 50px
• padding 10px */

.logo {
  float: left;
  margin-left: 50px;
  padding: 10px;

}

/* 
.title
• Float left
• margin-left 20px
• margin-top 20px to make it centered with the image
 */

/* Header Text */
.title {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

/* Header Text */
/* 
.title p
• Set color to #8a663f
• Font-size 20px
• Align text center
• line height 0 to remove line margin
• Add text shadow to the Text
*/
.title p {
  color: #8a663f;
  font-size: 20px;
  text-align: center;
  line-height: 0;
  text-shadow: 0.15em 0.075em white;
}

/* 
Menu 
• Make menu a block display
• Set the color of text from navigation to be white
• Set the background color of navigation bar to be #8a663f
• Set padding to be 10px
• Set font size of navigation menu to be 1.5em
• Set the border-radius to be 20px
*/
.menu a {
  display: block;
  color: black;
  background-color: #8a663f;
  padding: 10px;
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 20px;
}


/* 
.contactme
• Make it a flex
• Make content of flex center and vertically centered
• Set width and height to 100%
• Remove all margin
• Increase Gap between flex elements
 */

.contactme {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 5px;
  height: 100%;
  width: 100%;
  gap: 5px;
}

/* .fa
• Make it a flex
• Set the padding 5px 5px 0px 5px
• Set font sixe to be 10 px
• Set width 25px
• Align text center
• Remove all margin
*/

.fa {
  display: flex;
  padding: 5px 5px 0px 5px;
  font-size: 10px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 0px 2px;
}

/* 
.fa:hover
• Make the opacity to be -30%
 */

.fa:hover {
  opacity: 0.7;
}

/* 
.fa-facebook,
.fa-instagram,
.fa-envelope-square
• Make the color of the icons to be #8a663f
*/

.fa-facebook,
.fa-instagram,
.fa-envelope-square {
  color: #8a663f;
}